@charset "utf-8";

/*
  Skate Board CSS
  
  Author: Vayn <vt@elnode.com>
  Site: http://elnode.com
  
  
  This style is based on "Vanilla".

  Special thanks to Livid <v2ex.livid@me.com>.
  
*/

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: XHei, "DejaVu Sans", Tahoma, sans-serif;
  min-width: 900px;
  background: #e2e2e2 url('background.jpg') fixed;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #375167;
}

a:hover {
  text-decoration: none;
  color: #c91f2d;
}

code {
  font-family: Monaco, "Courier New";
}

#Root {
  width: 900px;
  margin: 0 auto 0 auto;
}

#Top {
  height: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Logo {
  border: 0px none;
}

#Sidebar {
  position: absolute;
  top: 190px;
  width: 210px;
  text-align: right;
}

#Sidebar .inner {
  padding: 10px 100px 0px 0px;
}

#Nav {
  padding: 0px;
  margin: 0px;
}

#Nav li {
  padding: 0px 0px 5px 0px;
  font-size: 14px;
  list-style: none;
  font-weight: bold;
  font-family: XHei, 'Dejavu Sans', Verdana, sans-serif;
  letter-spacing: 1px;
}

#Nav a:link, #Nav a:visited, #Nav a:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 3px 5px 2px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: none;
}

#Nav a:hover {
  color: #333;
  text-decoration: none;
  background-color: #f3f3f3;
  padding: 3px 5px 2px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: none;
}

#Main {
  background: transparent url('contentbg.png');
  margin: 0px 0px 0px 180px;
  padding: 0;
  width: 760px;
  min-height: 200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

#Main:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

#Main .inner {
  padding: 10px 0px 0px 10px;
  width: 590px;
  float: left;
}

#Main .rightbar {
  background: transparent url('rightbargirl.png') no-repeat;
  width: 100px;
  height: 388px;
  float: right;
  margin: 60px 20px 0 0;
}

#Main .footer {
  font-size: 12px;
  line-height: 12px;
  color: #838383;
  margin-top: 5px;
  padding-bottom: 5px;
}

#Main .title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

#Main .title a {
  padding-left: 20px;
  background: transparent url('title.png') no-repeat center left;
}

#Main .content {
  font-size: 14px;
  line-height: 22px;
  color: #333;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 40px;
  overflow: hidden;
}

#Main .tail {
  margin-bottom: 0px;
}

#Main .content .misc {
  background-color: transparent;
  font-size: 10px;
  line-height: 10px;
  color: #5a5b5b;
  text-align: right;
  margin-top: 10px;
}

#Main .content blockquote {
  background: transparent url('blockbg.png') no-repeat 0% 5%;
  margin: 5px;
  padding: 10px 0px 0px 45px;
  min-height: 100px;
}

#Main .content ul, #Main .content ol {
  padding-left: 18px;
  margin-left: 0px;
}

#Main .sep {
  height: 10px;
}

#Main .hr {
  padding: 0px;
  margin: 10px 0px 10px 0px;
  height: 1px;
  background: ;
}

#Ads {
  text-align: right;
  padding-top: 10px;
}

#Footer {
  background: transparent url('footer.png') no-repeat 100% 0;
  color: #fff;
  text-align: right;
  font-size: 10px;
  line-height: 7px;
  font-family: "Panic Sans", "Luxi Mono", "Courier New", Monaco;
  font-weight: bold;
  margin-top: 10px;
  padding: 115px 50px 15px 30px;
}

a.dark:link, a.dark:visited, a.dark:active {
  color: #3e3e3e;
  text-decoration: none;
  border: none;
}

a.dark:hover {
  color: #c91f2d;
  text-decoration: underline;
  border: none;
}

a img {
  border: 0px none;
  padding: 3px;
}

.sl {
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 550px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
}

.sl:focus {
  border: 1px solid #;
}

.code {
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 550px;
  height: 100px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
  overflow-x: hidden;
}

.code:focus {
  border: 1px solid #999;
}

.fade {
  color: #999;
}

.sep10 {
  height: 10px;
}

.sep40 {
  height: 40px;
}
