{% include 'header.html' %}
<div id="Main">
	<div class="w600">
		<div class="tweet_box"><form action="/twitter/post" method="post"><textarea name="status" id="status" maxlength="140" class="tweet_status"></textarea><div align="right"><input type="submit" value="Update" class="btn" /></div></form></div>
	{% for tweet in tweets %}<div class="tweet">
		<span class="tweet_avatar roundAvatar roundAvatar_Medium"><img align="absmiddle" src="{{ tweet.user.profile_image_url }}" /><img class="roundAvatar_Corner" src="/static/shared/round.png" /></span><div class="tweet_text"><div class="tweet_time">{{ tweet.datetime|timesince }} ago</div><strong>{{ tweet.user.screen_name }}</strong><br />{{ tweet.text|urlize }}</div>
	</div>
	{% endfor %}
	</div>
	<div class="c"></div>
</div>
{% include 'footer.html' %}
</body>
</html>